.muscle_card {
    display: flex;
    width: 30%;
    border: black solid 2px;
 }

 img {
    width: 50%
 }
 
 .muscle__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 .details-btn{
    border-radius: 5%;
 }

 .muscle-card-title {
    border: none
 }
 
 /* .muscle__card {
background:#D7CFE4;
position:absolute;
top:0px;
right:0px;
bottom:0px;
left:0px; 
 } */